 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
 @import './_01_mixins.scss';
 @import './_02_variables';
 @import './_03_core.scss';
 @import './_04_plugins.scss';
 @import './_05_views.scss';

 /** your custom css code **/
 /* 
html {
    background-color: $theme-color-1 !important;
}
*/

 * {
     transition: all 0.1s ease;
 }

 .error {
     background-color: red;
     color: white;
     text-indent: 1em;
     text-align: left!important;
 }

 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 /* Firefox */
 input[type=number] {
     -moz-appearance: textfield;
 }
